@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  color: #f5f3f4;
  background-color: #660708;
  align-items: center;
  justify-content: center;
  gap: 33.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  color: white;
}

.icons {
  margin-top: 0.4rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.arrow-class {
  margin-left: 1.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}

.home-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  background-image: url("./assets/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 120%;
  padding-top: 0.1rem;
}

.world-map {
  color: #161a1d;
  font-size: 9rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-right: 4rem;
}

.place {
  font-weight: 700;
}

.first-virus {
  position: relative;
  left: 53%;
  margin-top: 1.5rem;
  font-size: 3.5rem;
  color: #a4161a;
}

.second-virus {
  position: relative;
  left: 100%;
  font-size: 3rem;
  color: #a4161a;
}

.banner-title {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  margin-top: 4rem;
  font-weight: 600;
}

.banner-text {
  color: #161a1d;
}

.categories-container {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  justify-content: center;
  background-color: #e5383b;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.main-container {
  background-color: #e6e6e6;
  padding: 1rem;
}

.search-container {
  margin-left: 1.7rem;
  font-size: 1.5rem;
  color: #1c0c5b;
}

input {
  border: none;
  font-size: 1.5rem;
  color: #1c0c5b;
  margin: 1rem;
  background-color: #e6e6e6;
}

@media (max-width: 481px) and (min-width: 320px) {
  body {
    margin: 0;
    overflow-x: auto;
  }

  header {
    gap: 3rem;
    width: 90%;
    justify-content: center;
  }

  .title {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: white;
  }

  .icons {
    margin-top: 0.4rem;
    margin-right: 0.5rem;
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
  }

  .arrow-class {
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0;
    color: white;
    margin-right: 0.7rem;
  }

  .home-banner {
    display: flex;
    flex-direction: row;
    width:90%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #f5f3f4;
    padding-top: 0.1rem;
  }

  .world-map {
    color: #f5f3f4;
    position: relative;
    font-size: 2.4rem;
    padding-right: 0;
    margin-bottom: 4rem;
  }

  .place {
    font-weight: 700;
  }

  .banner-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin-right: 0.7rem;
  }

  .banner-text {
    color: white;
  }

  .map-unique {
    position: relative;
    left: 1.8rem;
    top: 0.1rem;
    color: #a4161a;
    font-size: 4.1rem;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .search-container {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #a4161a;
  }

  input {
    border: 1px solid #a4161a;
    border-radius: 1rem;
    margin-right: 3.9rem;
    height: 2.5rem;
    width: 900px;
    font-size: 0.9rem;
    text-align: center;
    background-color: white;
  }

  input:focus {
    outline: none;
    border: 1px solid #a4161a;
  }

  .categories-container {
    width: 88.9%;
    text-align: center;
    background-color: #660708;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .countries-list {
    width: 99%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
  }

  .country-img {
    position: relative;
    width: 43%;
    margin-left: 1rem;
    bottom: 1.8rem;
  }

  .country-info {
    color: white;
    text-decoration: none;
    width: 11rem;
    padding-top: 0.3rem;
  }

  .right-arrow {
    position: relative;
    left: 76%;
    font-size: 1.6rem;
  }

  a {
    text-decoration: none;
  }

  .info {
    position: relative;
    left: 64%;
  }

  .card-country {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 10rem;
    background-color: #232122;
    padding-top: 0.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .details-flag {
    margin-top: 2rem;
    width: 40%;
    margin-left: 5.2rem;
    margin-bottom: 2rem;
  }

  .detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .detail-container p {
    width: 77%;
    padding: 1.5rem;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
  }

  .detail-container p:nth-child(2n-1) {
    background: #161a1d;
  }

  .detail-container p:nth-child(2n) {
    background: #f5f3f4;
    color: #161a1d;
  }
}
