@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  color: #F5F3F4;
  background-color: #E5383B;
  align-items: center;
  gap: 33.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  color: white;
}

.icons {
  margin-top: 0.4rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.arrow-class {
  margin-left: 1.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
}

.home-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
  background-color: #F5F3F4;
  padding-top: 0.1rem;
}

.world-map {
  color: #161A1D;
  font-size: 9rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-right: 5rem;
  border-right: 0.1rem solid #A4161A;
}

.place {
  font-weight: 700;
}

.first-virus {
  position: relative;
  left:53%;
  margin-top: 1.5rem;
  font-size: 3.5rem;
  color:#A4161A
}

.second-virus {
  position: relative;
  left:100%;
  font-size: 3rem;
  color:#A4161A
}

.banner-title {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  margin-top: 4rem;
  font-weight: 600;
}

.banner-text {
  color:#161A1D;
}

.case-title {
  color: #1c0c5b;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.categories-container {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  justify-content: center;
  background-color: #E5383B;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.main-container {
  background-color: #e6e6e6;
  padding: 1rem;
}

.search-container {
  margin-left: 1.7rem;
  font-size: 1.5rem;
  color: #1c0c5b;
}

input {
  border: none;
  font-size: 1.5rem;
  color: #1c0c5b;
  margin: 1rem;
  background-color: #e6e6e6;
}

@media (max-width: 481px) and (max-width: 767px) {
  header {
     gap:3.1rem;
  }

  .arrow-class {
    margin-left: 0.9rem;
    margin-top: 0.9rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
  }
  
  .home-banner {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: left;
    background-color: #F5F3F4;
    padding-top: 0.1rem;
  }

  .world-map {
    color: #161A1D;
    position: relative;
    font-size: 5.5rem;
    padding-right: 0.4rem;
    margin: 3rem 0.8rem 2rem 0rem;
    border-right: 0.1rem solid #A4161A;
  }

  .place {
    font-weight: 700;
  }

  .banner-title {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .banner-text {
    color:#161A1D;
  }

  .first-virus {
    position: relative;
    left:70%;
    margin-top: 1.9rem;
    font-size: 2rem;
    color:#A4161A
  }
  
  .second-virus {
    position: relative;
    left:59%;
    bottom:1.1rem;
    font-size: 1.8rem;
    color:#A4161A
  }
}